POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=hub_user
POSTGRES_PASSWORD=hub_password
POSTGRES_DB=financial_hub

POSTGRES_READONLY_USER=hub_readonly
POSTGRES_READONLY_PASSWORD=hub_password
